		.wrap-jkt{
			background-color: #fff;
			position:relative;
			display: block;
			overflow: hidden;
			width:1000px;
			margin:0 auto;
		}
		.own-tt{
			width:98%;
		}
		.own-tt tr:nth-child(even){
			background-color:#f9f9f9;
		}
		.own-tt td:first-child{
			font-weight: bold;
		}	
		.own-tt td{
			padding:10px;
			border:1px solid #CCC;
			color:#333;
			font-size:13px;
		}
		.div-part-jkt{
			clear:both;
			margin:5px 0;
			
			display:-moz-inline-stack;
			display:inline-block;
			zoom:1;
			*display:inline;

		}
		.title-part-jkt{
			font-size:16px;
			font-weight:bold;
			padding:10px;
			color:#fff;
			background-color:#ffa500;
			overflow:hidden;
			float:left;
			clear:both;
		}
		.element-part-jkt{
			clear:both;
			padding:10px;
			float:left;
		}
		.vertical-list-jkt li{
			float:left;
			padding:5px;
			list-style:none;

			font-size:12px;
		}
		.small-title-part{
			font-size:14px;
			color:#777;
			padding:0 5px 5px 5px;
			font-weight:bold;
			background-color: #f9f9f9;
			display: inline;
			margin-left:-20px;
		}
		.example-jkt, .code-jkt{
			float:left;
			border:1px solid #CCC;
			padding:0px 20px 20px 20px;	
		}
		.example-jkt{
			width:180px;
			height:100px;
		}
		.code-jkt{
			margin-left:10px;
			width:250px;
			width:20rem;

			font-size:12px;
		}
		.code-jkt .c-jkt{
			clear:both;
			padding:10px;
			margin-top:10px;
		}
		.header-jkt{
			clear:both;
			float:right;
			padding-top:10px;
			padding-bottom:30px;
			font-family: arial;
			text-align:right;
			display: block;
		}
		.main-title-jkt{
			font-size:30px;
			font-weight:bold;
			clear:both;
		}
		.footer-jkt{
			margin-top:10px;
			background-color:#999;
			color:#fff;
			font-size:17px;
			padding:10px;
			font-family: arial;
		}
		.note-jkt ul{
			list-style-type: disc;
			padding-left:30px;
		}
		.short-description-jkt{
			clear:both;
			display:inline-block;
			padding-bottom:20px;
			width:800px;
			font-family: arial;
		}